<!DOCTYPE html>
{% extends 'base_2.html' %}

{% block container %}



<body>
    {% for tag in tags %}
        <a href="/tags/{{ tag }}">{{ tag }}</a>
    {% endfor %}

    {% for point in points %}
        <p>{{ point }}</p>
    {% endfor %}
    <h2>Список покупок</h2>
    <ul>
    {% for towns in mylist %}
        <li>{{ towns }}</li>
    {% endfor %}
    </ul>


    <ul>
    {% for towns in mylist %}
        <li>{{ towns }}</li>
    {% endfor %}
    </ul>
    <ul>
        {% for k in links %}
            <p>{{ k.title }}</p>
        {% endfor %}
    </ul>

    <nav>
        {% for k in links %}
            <li><a href={{ k.link }}> {{ k.title }}</a></li>
        {% endfor %}
    </nav>

    <nav>
        {%- for k in positions %}
            <div>
                <h3>{{ k.title }}</h3>
                <p>{{k.salary}}</p>
                <ul>
                {%- for tags_inside in k.tags %}

                        <li>{{tags_inside}}</li>

                {%- endfor %}
                </ul>
            </div>
        {%- endfor %}
    </nav>


    <nav>
        <table>
              <tr><th>Название</th><th>Год основания</th><th>Размер флота</th><th>Объем перевозок</th></tr>
            <tr>
                {% for data_inside in carriers %}
                <td>{{ data_inside.name }}</td>
                <td>{{ data_inside.founded }}</td>
                <td>{{ data_inside.planes }}</td>
                <td>{{ data_inside.passengers }}  млн.</td>
            </tr>
                {% endfor %}
        </table>
    </nav>


    <nav>
        <table>
            <tr><th>Название</th><th>Жанры</th><th>Рейтинг</th></tr>
            <tr>
                {% for movie in movies %}
                <td>{{ movie.title }}</td>
                <td>{{ movie.genres }}</td>
                <td>{{ movie.imdbrate }}</td>
            </tr>
                {% endfor %}
        </table>
    </nav>


<table>
  <tr><th>Название</th><th>Жанры</th><th>Рейтинг</th></tr>
    <tr>
      <td>El Camino: A Breaking Bad Movie (Путь: Во все тяжкие. Фильм)</td>
      <td>Криминальный Драма </td>
      <td>8.8</td>
    </tr>
    <tr>
      <td>The Irishman (Ирландец)</td>
      <td>Криминальный Исторический </td>
      <td>8.7</td>
    </tr>
    <tr>
      <td>Downton Abbey (Аббатство Даунтон)</td>
      <td>Драма </td>
      <td>8.7</td>
    </tr>
    <tr>
      <td>Avengers Endgame (Мстители: Финал)</td>
      <td>Приключения Фантастика Боевик </td>
      <td>8.6</td>
    </tr>
    <tr>
      <td>Joker (Джокер)</td>
      <td>Криминальный Триллер Драма </td>
      <td>8.7</td>
    </tr>
</table>


{% endblock %}
</body>
</html>

